- type = local_assigns.fetch(:type)

= render Pajamas::ButtonComponent.new(button_options: { class: 'gl-mr-3 js-bulk-update-toggle' }) do
  = _("Edit %{issuable}") % {issuable: type.to_s.humanize(capitalize: false)}
