- label = label.present(issuable_subject: local_assigns[:subject])
- label_css_id = dom_id(label)
- status = label_subscription_status(label, @project).inquiry if current_user
- use_label_priority = local_assigns.fetch(:use_label_priority, false)
- force_priority = local_assigns.fetch(:force_priority, use_label_priority ? label.priority.present? : false)
- toggle_subscription_path = toggle_subscription_label_path(label, @project) if current_user
- tooltip_title = label_status_tooltip(label, status) if status

%li.label-list-item{ id: label_css_id, class: "gl-p-5 gl-border-b", data: { id: label.id } }
  = render "shared/label_row", label: label, force_priority: force_priority
  %ul.label-actions-list
    - if can?(current_user, :admin_label, @project)
      %li.gl-display-inline-block.js-toggle-priority.gl-ml-3{ data: { url: remove_priority_project_label_path(@project, label),
        dom_id: dom_id(label), type: label.type } }
        %button.add-priority.btn.gl-button.btn-default-tertiary.btn-sm.has-tooltip{ title: _('Prioritize'), type: 'button', data: { placement: 'bottom' }, aria_label: _('Prioritize label') }
          = sprite_icon('star-o')
        = render Pajamas::ButtonComponent.new(category: :tertiary,
          icon: 'star',
          button_options: { class: 'remove-priority has-tooltip', 'title': _('Remove priority'), 'aria_label': _('Deprioritize label'), data: { placement: 'bottom' } })
    - if can?(current_user, :admin_label, label)
      %li.gl-display-inline-block
        = link_to label.edit_path, class: 'btn gl-button btn-default-tertiary btn-sm edit has-tooltip', title: _('Edit'), data: { placement: 'bottom' }, aria_label: _('Edit') do
          = sprite_icon('pencil')
    - if can?(current_user, :admin_label, label)
      %li.gl-display-inline-block
        .dropdown
          = render Pajamas::ButtonComponent.new(category: :tertiary,
            icon: 'ellipsis_v',
            button_options: { class: 'js-label-options-dropdown', 'aria_label': _('Label actions dropdown'), data: { toggle: 'dropdown' } })
          .dropdown-menu.dropdown-open-left
            %ul
              - if label.project_label? && label.project.group && can?(current_user, :admin_label, label.project.group)
                %li
                  %button.js-promote-project-label-button.gl-button.btn.btn-default-tertiary{ disabled: true, type: 'button',
                    data: { url: promote_project_label_path(label.project, label),
                            label_title: label.title,
                            label_color: label.color,
                            label_text_color: label.text_color,
                            group_name: label.project.group.name } }
                    = _('Promote to group label')
              %li
                %span
                  %button.text-danger.js-delete-label-modal-button{ type: 'button', data: { label_name: label.name, subject_name: label.subject_name, destroy_path: label.destroy_path } }
                    = _('Delete')
    - if current_user
      %li.gl-display-inline-block.label-subscription.js-label-subscription.gl-ml-3
        - if label.can_subscribe_to_label_in_different_levels?
          %button.js-unsubscribe-button.gl-button.btn.btn-default.gl-w-full{ class: ('hidden' if status.unsubscribed?), data: { url: toggle_subscription_path, toggle: 'tooltip' }, title: tooltip_title }
            %span.gl-button-text= _('Unsubscribe')
          .dropdown.dropdown-group-label{ class: ('hidden' unless status.unsubscribed?) }
            %button.gl-button.btn.btn-default.gl-w-full{ data: { toggle: 'dropdown' } }
              %span.gl-button-text
                = _('Subscribe')
                = sprite_icon('chevron-down')
            .dropdown-menu.dropdown-open-left
              %ul
                %li
                  %button.js-subscribe-button{ class: ('hidden' unless status.unsubscribed?), data: { status: status, url: toggle_subscription_project_label_path(@project, label) } }
                    %span.gl-button-text= _('Subscribe at project level')
                %li
                  %button.js-subscribe-button.js-group-level{ class: ('hidden' unless status.unsubscribed?), data: { status: status, url: toggle_subscription_group_label_path(label.group, label) } }
                    %span.gl-button-text= _('Subscribe at group level')
        - else
          %button.gl-button.js-subscribe-button.btn.btn-default.gl-w-full{ data: { status: status, url: toggle_subscription_path, toggle: 'tooltip' }, title: tooltip_title }
            %span.gl-button-text= label_subscription_toggle_button_text(label, @project)
