- title = _('Authenticate with GitHub')
- page_title title
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')

%h1.page-title.gl-font-size-h-display
  = title

%p
  = import_github_authorize_message

- if github_import_configured? && !has_ci_cd_only_params?
  = link_to status_import_github_path(namespace_id: params[:namespace_id]), class: 'gl-button btn btn-confirm' do
    = sprite_icon('github', css_class: 'gl-mr-2')
    = title

  %hr

- unless github_import_configured? || has_ci_cd_only_params?
  .bs-callout.bs-callout-info
    = import_configure_github_admin_message

= form_tag personal_access_token_import_github_path, method: :post do
  .form-group
    %label.label-bold= _('Personal Access Token')
    = hidden_field_tag(:namespace_id, params[:namespace_id])
    = text_field_tag :personal_access_token, '', class: 'form-control gl-form-input', placeholder: _('e.g. %{token}') % { token: '8d3f016698e...' }, data: { qa_selector: 'personal_access_token_field' }
    %span.form-text.text-muted
      = import_github_personal_access_token_message

  = render_if_exists 'import/github/ci_cd_only'

  .form-actions.d-flex.justify-content-end
    = link_to _('Cancel'), new_project_path, class: 'gl-button btn btn-default'
    = submit_tag _('Authenticate'), class: 'gl-button btn btn-confirm ml-2', data: { qa_selector: 'authenticate_button' }
