- add_page_specific_style 'page_bundles/members'
- add_to_breadcrumbs _("Groups"), admin_groups_path
- breadcrumb_title @group.name
- page_title @group.name, _("Groups")
- current_user_is_group_owner = @group && @group.has_owner?(current_user)

%h1.page-title.gl-font-size-h-display
  = _('Group: %{group_name}') % { group_name: @group.full_name }

  = link_to admin_group_edit_path(@group), class: "btn btn-default gl-button float-right", data: { qa_selector: 'edit_group_link' } do
    = sprite_icon('pencil-square', css_class: 'gl-icon')
    = _('Edit')
%hr
.row
  .col-md-6
    .card
      .card-header
        = _('Group info:')
      %ul.content-list
        %li
          .avatar-container.rect-avatar.s60
            = group_icon(@group, class: "avatar s60")
        %li
          %span.light= _('Name:')
          %strong
            = link_to @group.name, group_path(@group)
        %li
          %span.light= _('Path:')
          %strong
            = @group.path

        %li
          %span.light= _('Description:')
          %strong
            = @group.description

        %li
          %span.light= _('Visibility level:')
          %strong
            = visibility_level_label(@group.visibility_level)

        %li
          %span.light= _('Created on:')
          %strong
            = @group.created_at.to_s(:medium)

        %li
          %span.light= _('ID:')
          %strong
            = @group.id

        = render_if_exists 'admin/namespace_plan_info', namespace: @group

        %li
          = render 'shared/storage_counter_statistics', storage_size: @group.storage_size, storage_details: @group

        %li
          %span.light= _('Group Git LFS status:')
          %strong
            = group_lfs_status(@group)
            = link_to sprite_icon('question-o'), help_page_path('topics/git/lfs/index')

        = render_if_exists 'namespaces/shared_runner_status', namespace: @group
        = render_if_exists 'namespaces/additional_minutes_status', namespace: @group

    = render 'shared/custom_attributes', custom_attributes: @group.custom_attributes

    = render_if_exists 'ldap_group_links/ldap_group_links_show', group: @group

    .card
      .card-header
        = _('Projects')
        = gl_badge_tag @group.projects.count
      %ul.content-list
        - @projects.each do |project|
          %li
            %strong
              = link_to project.full_name, [:admin, project]
              = gl_badge_tag storage_counter(project.statistics.storage_size)
            %span.float-right.light
              %span.monospace= project.full_path + '.git'
      - unless @projects.size < Kaminari.config.default_per_page
        .card-footer
          = paginate @projects, param_name: 'projects_page', theme: 'gitlab'

    - shared_projects = @group.shared_projects.sort_by(&:name)
    - unless shared_projects.empty?
      .card
        .card-header
          = _('Projects shared with %{group_name}') % { group_name: @group.name }
          = gl_badge_tag shared_projects.size
        %ul.content-list
          - shared_projects.each do |project|
            %li
              %strong
                = link_to project.full_name, [:admin, project]
                = gl_badge_tag storage_counter(project.statistics.storage_size)
              %span.float-right.light
                %span.monospace= project.full_path + '.git'

  .col-md-6
    = render 'shared/admin/admin_note'

    - if can?(current_user, :admin_group_member, @group)
      .card
        .card-header
          = _('Add user(s) to the group:')
        .card-body.form-holder
          %p.light
            - help_link_open = '<strong><a href="%{help_url}">'.html_safe % { help_url: help_page_url("user/permissions") }
            = html_escape(_('Read more about project permissions %{help_link_open}here%{help_link_close}')) % { help_link_open: help_link_open, help_link_close: '</a></strong>'.html_safe }

          = form_tag admin_group_members_update_path(@group), id: "new_project_member", class: "bulk_import", method: :put do
            %div
              = users_select_tag(:user_id, multiple: true, email_user: true, skip_ldap: @group.ldap_synced?, scope: :all)
            .gl-mt-3
              = select_tag :access_level, options_for_select(@group.access_level_roles), class: "project-access-select select2"
            %hr
            = button_tag _('Add users to group'), class: "gl-button btn btn-confirm"
      = render 'shared/members/requests', membership_source: @group, group: @group, requesters: @requesters, force_mobile_view: true

    .card
      .card-header
        = html_escape(_("%{group_name} group members")) % { group_name: "<strong>#{html_escape(@group.name)}</strong>".html_safe }
        = gl_badge_tag @group.users_count
        = render 'shared/members/manage_access_button', path: group_group_members_path(@group)
      %ul.content-list.group-users-list.content-list.members-list
        = render partial: 'shared/members/member',
                 collection: @members, as: :member,
                 locals: { membership_source: @group,
                           group: @group,
                           current_user_is_group_owner: current_user_is_group_owner }
      - unless @members.size < Kaminari.config.default_per_page
        .card-footer
          = paginate @members, param_name: 'members_page', theme: 'gitlab'
